@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* Color based on https://yeun.github.io/open-color/ */

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
  margin: 0 0;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1.4em;
  margin: auto;
  max-width: 100em;
}

.container form {
  display: flex;
  align-items: stretch;
  vertical-align: center;
  height: 2.3em;
  padding: 0 0.2em;
}

.container form label {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding-right: 1em;
}

.container form input {
  flex: 1 1 auto;
}

.content-table {
  font-size: 0.95em;
  border-collapse: collapse;
  margin: 1.5em auto;
  border-radius: 16px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.08);
}

.content-table thead tr {
  background-color: #0ca678;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 0.7em 0.9em;
}

.content-table tbody tr {
  border-top: 1px solid #dee2e6;
}

.content-table tbody tr:nth-last-of-type(even) {
  background-color: #f1f3f5;
}

.content-table tbody tr:hover {
  font-weight: bold;
  color: #087f5b;
}
